<div id="experience" class="mb-4">
  <h2 class="cvPartTitle">Esperienza</h2>
  <div class="cvPartElement">
    <h6 class="experienceTitle">Freelance IT Support</h6>
    <small class="text-muted experienceInfo">Gen 2026 - WebFixer.it</small>
    <p class="experienceDescription">Assistenza tecnica, riparazioni PC, consulenza informatica.</p>
  </div>
  <div class="cvPartElement">
    <h6 class="experienceTitle">Tecnico informatico</h6>
    <small class="text-muted experienceInfo">Set 2025 | A.S.I.A. Technology | Bari</small>
    <p class="experienceDescription">
      Oltre all’attività di consulenza e vendita dei computer esposti, mi sono
      occupato di interventi di riparazione e sostituzione hardware, risoluzione
      di problematiche software e formattazione dei sistemi operativi su
      richiesta. Inoltre, ho gestito lo smontaggio di macchine obsolete, il
      recupero e lo smistamento delle componenti, nonché l’organizzazione del
      magazzino.
    </p>
  </div>
  <div class="cvPartElement">
    <h6 class="experienceTitle">Operatore call center (OutBound)</h6>
    <small class="text-muted experienceInfo">Giu 2025 | Area Web S.R.L. | Bari</small>
    <p class="experienceDescription">
      Mi sono occupato di chiamare le aziende di tutta Italia tramite un sistema
      aziendale per proporre un servizio di gestione riguardante le schede
      Google delle attività, l’indicizzazione e la creazione di eventuali app
      per le loro attività
    </p>
  </div>
  <div class="cvPartElement">
    <h6 class="experienceTitle">Promoter telefonia</h6>
    <small class="text-muted experienceInfo"
      >Lug 2024 | Vodafone (Innovared S.R.L.) | Triggiano</small
    >
    <p class="experienceDescription">
      Ho lavorato come promoter presso lo stand Vodafone nel centro commerciale
      Bariblu (Triggiano). Il mio compito era quello di offrire assistenza ai
      già clienti, vendere smartphone e di illustrare ai passanti le alternative
      al loro piano mensile.
    </p>
  </div>
  <div class="cvPartElement">
    <h6 class="experienceTitle">Barista</h6>
    <small class="text-muted experienceInfo">Mar 2019 | Bar Aqua | Modugno</small>
    <p class="experienceDescription">
      Durante gli ultimi anni di scuola superiore ho svolto l’alternanza
      scuola-lavoro presso due bar. In questi mi sono occupato della
      caffetteria, del servizio ai tavoli, della pulizia del locale e quando
      necessario, anche della gestione della cassa.
    </p>
  </div>
  <div class="cvPartElement">
    <h6 class="experienceTitle">Gestione server di gioco</h6>
    <p class="experienceDescription">
      Durante gli studi mi sono occupato della creazione, configurazione e
      manutenzione di un server di gioco insieme ad alcuni amici utilizzando
      talvolta dei vps
    </p>
  </div>
</div>
