---
title: News
permalink: /news/
---

<!DOCTYPE html>
<html lang="it" data-bs-theme="dark">
  <head>

    {% set partials = "src/partials/" %}
    {% set pageKey = 'news' | lower %}
    {% set pageData = site[news] %}

    <title>{{ pageData.seo.title or title or site.title }}</title>
    <meta name="description" content="{{ pageData.seo.description or site.description }}">
    <meta name="keywords" content="{{ pageData.seo.keywords }}">


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="WebFixer.it - Notizie" />
<meta property="og:description" content="Assistenza tecnica per PC e sistemi informatici." />
<meta property="og:image" content="{#URL_DI_UN_ANTEPRIMA_LOGOTIPO.jpg#}" />
<meta property="og:url" content="https://www.webfixer.it/news" />

    <link
      href="https://fonts.googleapis.com/css2?family=Asimovian&family=Cal+Sans&family=Edu+SA+Hand:wght@400..700&family=IM+Fell+English+SC&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quando&family=Rationale&family=Tillana:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />

    <!-- <link rel="stylesheet" href="src/css/style.css" /> -->
    <!-- CSS -->
    <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin />
    <link
      rel="preload"
      href="/fonts/bootstrap-icons.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />

    <link
      rel="shortcut icon"
      href="favicon.ico"
      type="image/x-icon"
    />
  </head>

  <body>
    <header>
      {% include "_header.html" %}
    </header>
    <main class="container">
        <h1>PAGINA NOTIZIE - IN LAVORAZIONE</h1>
    </main>
    <footer>
      {% include "_footer.html" %}
    </footer>

    {% include "modals/_privacyInfoModal.html" %}
    {% include "modals/_termsConditionsModal.html" %}
    {% include "modals/_bugReportModal.html" %}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/custom.css" />
    <script type="module" src="/js/disabledButtons.js" defer></script>
    <script type="module" src="/js/burger.js" defer></script>
  </body>
</html>
