<div
  class="modal fade"
  id="bugReportModal"
  tabindex="-1"
  aria-labelledby="bugReportModal"
  aria-hidden="true"
  role="dialog"
  aria-modal="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h2 class="modal-title" id="bugReportModal">
          Segnala un bug
        </h2>
      </div>

      <div class="modal-body">
        <form method="post" class="needs-validation" novalidate>
    <input type="hidden" name="formType" value="bugReport">
      <div class="form-floating mb-3">
        <textarea class="form-control auto-expand" id="details" name="details" placeholder="Descrivi il problema" style="height:100px; resize:none;" required></textarea>
        <label for="details">Descrivi il problema</label>
      </div>
      <p class="size-1">Ci tengo a ringraziare in anticipo per ogni contributo :)</p>
      <button class="modernButton" type="submit">Invia segnalazione</button>
    </form>

      <div class="modal-footer border-top-0">
        <button type="button" class="modernButton" data-bs-dismiss="modal">
          Chiudi
        </button>
      </div>
    </div>
  </div>
</div>