<aside class="col-md-3 col-lg-2 sidebar p-3">
  <div class="text-center my-3">
    <img
      src="/assets/images/profile-pic.png"
      alt=""
      class="rounded-circle mb-2"
      width="90"
    />
    <h5>Michele Garofalo</h5>
    <small class="text-muted">Programmatore - Tecnico informatico</small>
    <div class="my-3">
      <h5>Info e contatti</h5>
      <small>Modugno <span class="text-muted">(Bari)</span></small>
      <br />
      <small>Patente B <span class="text-muted">(Automunito)</span></small>
      <br />
      <small>+39 377 520 5995</small>
      <br />
      <small>garofalomichele2001@gmail.com</small>
    </div>
  </div>

  <ul class="nav flex-column gap-2">
    <li class="nav-item">
      <a class="nav-link" href="#profile">Profilo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#skills">Competenze</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#experience">Esperienza</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#education">Formazione</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#projects">Progetti</a>
    </li>
  </ul>
</aside>
