<div class="nav row">
  <div class="col-xl-3 col-12">
    <p>
      Copyright © 2026 Michele Garofalo.<br>
      Tutti i diritti riservati.
    </p>
    <p>
      Prestazione occasionale.
    </p>
  </div>
  <div class="col-xl-3 col-12">
    <a href="#serviceSection">Servizi</a><br />
    <a href="#termsConditionsModal" data-bs-toggle="modal"
      >Termini e condizioni</a>
    <br>
    <a href="#privacyInfoModal" data-bs-toggle="modal">Informativa sulla privacy</a>
  </div>
  <div class="col-xl-3 col-12">
    <a href="https://github.com/rhaastrake" target="_blank"><i class="bi bi-github"></i> GitHub</a><br />
    <a href="https://www.linkedin.com/in/michele-garofalo-1966302b6/" target="_blank"><i class="bi bi-linkedin"></i> LinkedIn</a><br />
  </div>
</div>
