<div class="nav">
  <a href="/" class="logo">
    <img src="/assets/images/logo.png" alt="Logo" />
  </a>
  <div class="nav-links">
    <a
      class="modernButton disabledButton"
      ><i class="bi bi-file-earmark-person"> Curriculum</i></a
    >
    <a
      class="modernButton disabledButton"
      ><i class="bi bi-newspaper"> Notizie</i></a
    >
  </div>
  <div class="nav-external-links">
    <a
      class="modernButton"
      href="https://github.com/rhaastrake"
      target="_blank"
      rel="noopener noreferrer"
      ><i class="bi bi-github"> GitHub</i></a
    >
    <a
      class="modernButton"
      href="https://www.linkedin.com/in/michele-garofalo-1966302b6/"
      target="_blank"
      rel="noopener noreferrer"
      ><i class="bi bi-linkedin"> LinkedIn</i></a
    >
  </div>
  <div class="nav-extra-links">
    <a
      class="modernButton"
      data-bs-toggle="modal"
      data-bs-target="#bugReportModal"
      ><i class="bi bi-bug"> Segnala un bug</i>
    </a>
  </div>
  <a class="modernButton burgerButton" style="margin-right: 15px"
    ><i class="bi bi-list size-3"></i>
  </a>
</div>







{# MOBILE MENU #}
<div class="mobile-menu" id="mobileMenu">
  <a class="modernButton burgerButtonMobile">
    <i class="bi bi-x-lg size-1"></i>
  </a>

    <a
      class="modernButton disabledButton"
      ><i class="bi bi-file-earmark-person"> Curriculum</i></a
    >
    <a
      class="modernButton disabledButton"
      ><i class="bi bi-newspaper"> Notizie</i></a
    >

  <a class="modernButton" href="https://github.com/rhaastrake" target="_blank">
    <i class="bi bi-github"> GitHub</i>
  </a>

  <a
    class="modernButton"
    href="https://www.linkedin.com/in/michele-garofalo-1966302b6/"
    target="_blank"
  >
    <i class="bi bi-linkedin"> LinkedIn</i>
  </a>
  <a
    class="modernButton"
    data-bs-toggle="modal"
    data-bs-target="#bugReportModal"
  >
    <i class="bi bi-bug"> Segnala un bug</i>
  </a>
</div>
