<section class="presentationSection my-3 py-3">
  <div class="row">
    <div class="col-xl-6 col-12">
      <h1>Michelegaro.it</h1>
      
      <p class="size-3">Assistenza tecnica per PC e sistemi informatici.</p>
      <hr style="color: transparent" />
      <p class="size-1">
        Sono un appassionato di informatica, disponibile a fornire
        supporto tecnico e spiegazioni su misura per le tue esigenze.
      </p>
      <a class="modernButton disabledButton">Curriculum Vitae</a>
      <p>Prossimamente...</p>
      <hr style="color: transparent" />
      <p class="size-1">
        Scopri le soluzioni che posso offrirti per
        ottimizzare, migliorare o realizzare i tuoi progetti informatici.
      </p>
      <a class="modernButton" href="#serviceSection"
        >Vai ai servizi
        <i class="bi bi-arrow-down" style="margin-left: 5px"></i
      ></a>
    </div>
    <div class="col-xl-6 col-12 mt-5 mt-md-0">
      <div class="presentationImage">
        <img src="/assets/images/gaming-desk2.jpg" fetchpriority="high" />
      </div>
    </div>
  </div>
</section>
