<section id="serviceSection" class="my-3 py-3">
  <h2>Servizi</h2>
  <div class="row bordered text-center">
    <div class="serviceSelectionBox col-xl-6 col-12">
      <div class="modernButton selectableButton serviceButton">
        <i class="bi bi-cpu" style="color: rgb(40, 149, 226)"></i>
        <h6>Assistenza hardware/software</h6>
        <p class="neon-blue">
          Cambio componenti, pulizia, programmi e assistenza generica
        </p>
      </div>
      <hr />
      <div class="modernButton selectableButton serviceButton">
        <i class="bi bi-amazon" style="color: rgb(255, 197, 38)"></i>
        <h6>Acquisto e/o assemblaggio</h6>
        <p class="neon-blue">
          Consulenza, guida all’acquisto e assemblaggio su misura
        </p>
      </div>
      <hr />
      <div class="modernButton selectableButton serviceButton">
        <i class="bi bi-discord" style="color: rgba(87, 100, 242)"></i>
        <h6>Server discord</h6>
        <p class="neon-blue">
          Creazione server Discord multicategoria con stanze automatizzate
        </p>
      </div>
      <hr />
      <div class="modernButton selectableButton serviceButton">
        <i class="bi bi-window" style="color: rgb(223, 73, 73)"></i>
        <h6>Siti web / applicazioni</h6>
        <p class="neon-blue">Piccoli progetti su misura</p>
      </div>
    </div>
    <div class="selectedServiceBox col-xl-6 col-12 mt-5 mt-md-0">
      <h3 class="serviceTitle">Seleziona un servizio...</h3>
      <hr style="color: transparent" />
      <hr />
      <div class="selectedServiceOverview">
        <p class="serviceDescription size-1 d-none"></p>
        <hr style="color: transparent" />
        <hr style="color: transparent" />
        <p class="serviceStartButton modernButton d-none">
          Richiedi un preventivo
        </p>
        <p class="serviceCostDisclaimer d-none">
          Eventuali compensi saranno concordati privatamente con il cliente in
          base alla complessità del lavoro.
        </p>
      </div>
      <div class="selectedServiceForm text-start"></div>
    </div>
  </div>
</section>
