<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Michelegaro.it: Assistenza tecnica per PC e sistemi informatici."
    />
    <title>Michelegaro.it - 404</title>
  </head>
  <body>
    <header></header>
    <main>
      <h1>Michelegaro.it</h1>
      <h2>Errore 404 - Pagina non trovata</h2>
      <h3>Torna indietro o clicca <a href="michelegaro.it">qui</a></h3>
    </main>
    <footer></footer>
  </body>
</html>
