// .fade-in-up {
//   animation: fadeInUp 0.8s ease forwards;
// }

// @keyframes fadeInUp {
//   0% {
//     opacity: 0;
//     transform: translate3d(0, 40px, 0);
//   }
//   100% {
//     opacity: 1;
//     transform: translate3d(0, 0, 0);
//   }
// }