@import "variables";

.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: #111;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 25px;
  transition: right 0.3s ease;
  z-index: 9999;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.mobile-menu.active {
  right: 0;
}

.burgerButtonMobile {
  align-self: flex-end;
}

.burgerButton {
  display: none;
}

@media (max-width: 1199.98px) {
  .nav-links,
  .nav-external-links,
  .nav-extra-links {
    display: none;
  }

  .burgerButton {
    display: block !important;
  }

  .sidebar {
    display: none;
  }
}
